<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Yeni Cari Girişi</h3>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <input type="text" class="name" name="CurrentName" Placeholder="Adınız" required="" />
                        <input type="text" class="name" name="CurrentSurname" Placeholder="Soyadınız" required="" />
                        <input type="email" class="name" name="CurrentCity" Placeholder="Şehir" required="" />
                        <input type="text" class="mail" name="CurrentMail" Placeholder="Mailiniz" required="" />
                        <input type="password" class="password" name="password" Placeholder="Şifreniz" required="" />
                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kuralları Okudum <a href="#"> & Kabul Ediyorum</a></label>
                        </div>
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
