@using CommercialAutomation.Models.Classes
@model List<CargoTracking>
@{
    ViewBag.Title = "CurrentCargoDetail";
    Layout = "~/Views/Shared/_CurrentLayout.cshtml";
}

<br />

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Ürün İçeriği</th>
        <th>Tarih</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.Date.ToShortDateString()</td>
        </tr>
    }
</table>

